* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-both {
    clear: both;
}

.last-item {
    margin: 0 !important;
}

/* header */

header {
    background-color: #000;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}

header h1 {
    color: #fff;
}

/* nav */

nav {
    width: 100%;
    /* height: 13vh; */
    min-height: 80px;
    padding: 32px;
    background-color: #000;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

nav img {
    max-height: 48px;
    vertical-align: middle;
    background-color: #fff;
}

.spacer {
    display: inline-block;
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 132px - 254px);
}

nav ul {
    display: inline-block;
    vertical-align: middle;
}

nav>ul>li {
    display: inline-block;
    margin-right: 15px;
}

nav li a {
    color: #fff;
}

.active {
    color: red;
    font-weight: bold;
}

nav li a:hover {
    color: yellow;
}


/* drop-down */

.drop-down-wrap {
    position: relative;
}
.drop-down {
    /* width: 130px; */
    background-color: #000;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 20px 15PX 20PX;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, transform 0.15s;
}

.drop-down li {
    margin-bottom: 10px;
    white-space: nowrap;
}

.drop-down a {
    text-align: center;
}

.drop-down-wrap:hover .drop-down {
    opacity: 1;
    visibility: visible;
}


/* main content */


main {
    min-height: 800px;
    text-align: center;
    padding: 50px 0;
    text-align: left;
}

article {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid goldenrod;
}

.image-wrap {
    width: 400px;
    position: relative;
    border: 1px solid #000;
    margin: 10px;
}
.image-wrap img {
    display: block;
    width: 100%;
    /* margin: 5px; */
}

.text-box > p {
    margin-bottom: 10px;
    font-size: 25px;
}

.post-info {
    font-size: 20px !important;
    margin: 10px 0 20px 0 !important;
}

/* footer */

footer {
    /* height: 13vh; */
    background-color: #000;
    text-align: center;
    padding: 15px;
}

footer li {
    display: inline-block;
    margin-right: 15px;
}

footer hr {
    width: 80%;
    margin: 15px auto;
}

footer a, footer p {
    color: #fff;
}